@charset "utf-8";
/* CSS Document */
.background
	
	 {width: 100%;
	  height: auto;
	  background-color:hsla(218,66%,20%,1.00)}
	
 .menubar  
	
	{width: 100%;
	 height:75px;
	 background-color:antiquewhite;background:url(../images/bg3.png)}
	
     .logo
	
	      {width: 10%;
	       height: 70px;
		   background-color:none;
		   padding-left:100px;
           float: left;
           padding-top: 5px;}

    .search
		  {width: 20%; height: 70px; background-color: none; float: right;}
   
.search img {padding-top: 10px; padding-left: 30px}
	
    .infor
	      {width: 80%;
	       height: 75px;
		   background-color:none}
     
    .infor ul li
          {padding:28px;
           float: right;
           position: relative}
   

	/*BO GACH, BO CHAM*/
    
	ul li a {text-decoration: none;
			 font-family:content;
             color:steelblue}


	@font-face {
          font-family:content;
          src:url(../font/UVNBaiSau_R.TTF)}

    
    ul {list-style: none; margin: 0px; padding: 0px ; }

    ul li:hover
    {background-color:#F9A4AB;}

/*MENU CON*/

ul li ul 
{position: absolute; 
 left: 0px;
 top: 75px;
 right: 0px;
 visibility: hidden;
 background-color: antiquewhite}



ul li:hover ul {visibility: visible}

ul li ul li:hover 
{background-color: #A4C9D9;
 }
       

 .body1
	
	{width: 100%;
	 height:710px;
	 background-color: indigo;
     padding:0px;
     margin:0px;
     background:url(../images/a4.jpg)}
     

  .body1a
	{width: 58%;
	 height:700px;
	 background-color: none;
	 float: left}


  .body1b
	{width: 42%;
	 height:700px;
	 background-color:none;
	 float: right;
	 }
     
 						.body1b button 
								{width: 100px;
 								 height: 50px;
 								 font-family:tieude;
 								 font-size: 14px;
 								 border-radius: 15px;
    							 background-color: #D04241;
 								 color: antiquewhite;
								
								margin-top: 400px}

						.body1b button a

								{text-decoration: none;
 								 color: antiquewhite}


	@font-face {
          font-family:tieude;
          src:url(../font/UVNBaiSau.TTF)}
	
	
 .body2
	
	{width: 100%;
	 height:300px;
	 background:url(../images/bg2.png);
	 
     display: flex;
     justify-content:center; 
     align-items: center;
     }
	
	
	.inbody2
	        {width: 220px;
	         height:220px;
			 margin:65px;
	         background-color:chartreuse;
			 border-radius: 0px;
	         float: left;
			 justify-content:center;
  			 text-align: center}

.inbody2 h3 {font-family: tieude;
			 color: antiquewhite;} 

.inbody2 button {width:80px;
                 height:30px;
                 border-radius: 10px;
                 background-color: #FBD128;
				 font-family:tieude;
				 font-size: 12px;
       			 color: #0E2D56;
         		 margin-top: 15px}

.inbody2 button a {text-decoration: none;
				   color: #0E2D56}


.inbody2 p {font-family:content; font-size: 16px;
            margin-bottom: -5px;
            margin-top: -10px;
	        margin-left: 10px;
	        margin-right:10px;
            color: antiquewhite}


 .body3
	
	 {width: 100%;
	  height: 600px;
	  background-color:antiquewhite;
	  float: left;
	
	
	  display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;}
	
	.content1
	        {width: 600px;
	         height: 500px;
			 background-color:none;
	         float: left;
	 		 margin: 20px}

 	.inct1
	       {width: 500px;
	         height: 100px;
			 background:url(../images/2logo2.png)}

h2 {color: hsla(0,60%,54%,1.00);font-family:tieude}

p1 {color: hsla(202,54%,14%,1.00); font-family:content;}

.content1 li {color:hsla(202,54%,14%,1.00); font-family:content;margin-top: 30px}

.body4

	  {width: 100%;
	   height: 250px;
	   background-color:hsla(218,66%,20%,1.00); background: url(../images/bg2.png);
	
	   display: flex;
       justify-content: center;
       align-items: center;
       align-content: space-between}
	
	.content2
	  	     {width: 100px;
	         height: 100px;
			 background-color:none;
			 float: left;
	 		 margin: 110px;	 
			 text-align: center}

.content2 c {font-family:tieude;font-size: 50px; color: antiquewhite;}

c1 a {text-decoration: none; color: antiquewhite}

.content2 c1 {font-family: content;font-size: 18px; color: antiquewhite}

.body7
    {width: 100%;
	 height: 100px;
	 background-color:antiquewhite; text-align: center; padding-top:20px}

d {font-family: tieude; font-size: 30px; color: hsla(0,60%,54%,1.00)}

d1 {font-family: content; font-size: 20px; color: hsla(0,60%,54%,1.00)}

.body5
	
	{width: 100%;
	 height: 300px;
	 background-color:antiquewhite;
	
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: space-between}
	

	.content3
	  	     {width: 250px;
	         height: 250px;
			 background-color:indigo;
			 float: left;
	 		 margin: 40px}
	

 .body6 /*contact*/
	 {width: 100%;
	  height: 35px;
	  background-color:antiquewhite;
   
  
	  display: flex;
  	  justify-content: center;
  	  align-items: center;
  	  align-content: space-between;}
	  
.body66
{width: 170px;
 height:35px;
 background-color: none ; margin-right:60px; margin-left: 20px; margin-bottom: 10px; float: left;
 	  display: flex;
  	  justify-content: center;
  	  align-items: center;
  	  align-content: space-between;}

.body66 e {font-family:content; color:steelblue; text-align: center; font-size: 12px}

.body66 a {text-decoration: none; color:steelblue }
